<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ext JS 4 Examples - Victorette</title>
		{% csrf_token %}
		
		<!-- Ext JS Files -->
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}extjs/resources/css/ext-all.css">
		<script type="text/javascript" src="{{ STATIC_URL }}extjs/ext-all-debug.js"></script>

		<!-- App Files -->
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}resources/css/app.css">
		<script type="text/javascript" src="{{ STATIC_URL }}app/app.js"></script>

	</head>
	<body></body>
</html>